*~
*.o
*.zwc
*.gmo
.deps
dotlock
fetchaddr
fetchdate
src/mairix/Makefile
src/mairix/config.log
src/mairix/mairix
src/gnome-keyring/jaro-gnome-keyring
build/gnu
build/osx
src/mairix/datescan.c
src/mairix/datescan.h
src/mairix/dfasyn/dfasyn
src/mairix/dfasyn/parse.c
src/mairix/dfasyn/parse.h
src/mairix/dfasyn/parse.output
src/mairix/dfasyn/scan.c
src/mairix/fromcheck.c
src/mairix/fromcheck.h
src/mairix/nvpscan.c
src/mairix/nvpscan.h
src/mutt-1.5.21/Makefile
src/mutt-1.5.21/config.h
src/mutt-1.5.21/config.log
src/mutt-1.5.21/config.status
src/mutt-1.5.21/contrib/Makefile
src/mutt-1.5.21/doc/Makefile
src/mutt-1.5.21/flea
src/mutt-1.5.21/hcachever.sh
src/mutt-1.5.21/hcversion.h
src/mutt-1.5.21/imap/Makefile
src/mutt-1.5.21/imap/libimap.a
src/mutt-1.5.21/intl/Makefile
src/mutt-1.5.21/keymap_defs.h
src/mutt-1.5.21/m4/Makefile
src/mutt-1.5.21/make.log
src/mutt-1.5.21/mutt_dotlock
src/mutt-1.5.21/mutt_md5
src/mutt-1.5.21/muttbug.sh
src/mutt-1.5.21/patchlist.c
src/mutt-1.5.21/pgpewrap
src/mutt-1.5.21/pgpring
src/mutt-1.5.21/po/Makefile
src/mutt-1.5.21/po/Makefile.in
src/mutt-1.5.21/po/POTFILES
src/mutt-1.5.21/reldate.h
src/mutt-1.5.21/smime_keys
src/mutt-1.5.21/stamp-h1
