*~
*.o
*.zwc
dotlock
fetchaddr
fetchdate
src/mairix/Makefile
src/mairix/config.log
src/mairix/mairix
src/gnome-keyring/jaro-gnome-keyring
build/gnu
build/osx
src/mairix/datescan.c
src/mairix/datescan.h
src/mairix/dfasyn/dfasyn
src/mairix/dfasyn/parse.c
src/mairix/dfasyn/parse.h
src/mairix/dfasyn/parse.output
src/mairix/dfasyn/scan.c
src/mairix/fromcheck.c
src/mairix/fromcheck.h
src/mairix/nvpscan.c
src/mairix/nvpscan.h
